// .col {
//   // ...
//   flex: 1;
// }

.flex-grid {
  display: flex;
}

.mini-flex-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  flex: 1;
}
.col-1-5 {
  flex: 1;
}
.col-2-5 {
  flex: 2;
}
/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  // ...
}

[class*='col-']:last-of-type {
  // ...
}

@media all and (max-width: 1000px) {
  [class*='col-'] {
    // width:
  }
  .flex-grid {
    display: block;
  }
}
