

.lowernav {
  // display: flex;
  border-bottom: 1px solid $light-gray
}

.sectionlinks {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lowernav a {
  margin: 5px;
	font-family: $sans-serif;
	font-size: 12px;
	color: black;
}
.lowernav a:hover {
	background: $light-gray;
}

.lowernav ul {
  display: flex;
  justify-content: space-evenly;
  // width: 100%
}

.lowernav ul li {
  // flex: 1
  margin-right: 17px;
}

@media all and (max-width: 1000px) {

  .lowernav {
    display: none;
  }
}
